 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
  }
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
    background: #222;
    padding: 15px;
    border-radius: 10px;
  }
  .display {
    grid-column: span 4;
    height: 60px;
    background: #000;
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 24px;
  }
  button {
    height: 60px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover{
    filter: brightness(1.2)
  }
  button:active {
    transform: scale(0.95);      
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.5);
  }
  .operator {
    background: orange;
    color: white;
  }
  .equal {
    grid-column: span 4;
    background: green;
    color: white;
  }